{{ categoryName }}
<div class="filters">
  <input
    type="text"
    name="search"
    id="search"
    placeholder="Buscar"
    (input)="onSearch($event)"
  />

  <label for="filters">Ordenar por</label>
  <select name="filters" id="filters" (change)="onSort($event)">
    <option value="default" selected>-- Seleccionar --</option>
    <option value="price+">Precio más alto</option>
    <option value="price-">Precio más bajo</option>
    <option value="name">Nombre</option>
  </select>
</div>

@for(product of displayedProducts; track product){
<app-products [product]="product"></app-products>
}
