nav{
  background-color: blue;
  color: white;
  padding: 10px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.icon{
  color: white;
  font-size: 5vw;
}

.logo{
  width: 10vw;
}
