.categories {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
  padding-top: 0.5vw;
  border-bottom: solid 0.1vw var(--text);
}

.categories button {
  background-color: transparent;
  color: var(--text);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

.categories button:hover {
  color: var(--principal);
}

.categories a {
  margin: 0 1vw;
  color: var(--text);
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 0.5vw;
}

.categories a:hover {
  text-decoration: underline;
  color: var(--principal);
}
