<!-- @if(product().discount){
<div class="product-container">
  <img [src]="product().url" alt="product_image" />
  <p class="product-name">{{ product().name }}</p>
  <span class="inline-price">
    <p class="product-price-discount">{{ product().price }}€</p>
    <p class="product-discount">{{ product().discount }}</p>
    <p class="product-discounted">{{ discountedPrice }}€</p>
  </span>

  <p class="product-stars">{{ numberStars }}</p>
</div>

}@else {
<div class="product-container">
  <img [src]="product().url" alt="product_image" />
  <p class="product-name">{{ product().name }}</p>
  <p class="product-price">{{ product().price }}€</p>
  <p class="product-stars">{{ numberStars }}</p>
</div>
} -->

@if(product().discount){
  <div class="container">
    <div class="card_box">
      <div class="card-container">
        <div class="span-discount-d"> <p class="product-discount-d">{{ product().discount }}%</p></div>
        <div class="img-container-d">
          <img class="product-image-d" [src]="product().url" alt="product_image" />
        </div>
        <div class="info-container">
          <p class="product-name-d">{{ product().name }}</p>
          <p class="product-stars-d">{{ numberStars }}</p>
          <div class="inline-price-d">
            <p class="text">Precio:</p>
            <p class="product-price-discount-d"> {{ product().price }}€</p>
            <p class="product-discounted-d">{{ discountedPrice }}€</p>
          </div>
          <p class="shipping-d">Envío en 1 dia</p>
          <p class="shipping2-d">Entrega gratis mañana</p>
        </div>
      </div>
        <span></span>
    </div>
  </div>
  }@else {
    <div class="container">
      <div class="card_box">
        <div class="card-container">
          <div class="img-container-d">
            <img class="product-image-d" [src]="product().url" alt="product_image" />
          </div>
          <div class="info-container">
            <p class="product-name-d">{{ product().name }}</p>
            <p class="product-stars-d">{{ numberStars }}</p>
            <div class="inline-price-d">
              <p class="text">Precio:</p>
              <p class="product-price-discount-d"> {{ product().price }}€</p>
              <p class="product-discounted-d">{{ discountedPrice }}€</p>
            </div>
            <p class="shipping-d">Envío en 1 dia</p>
            <p class="shipping2-d">Entrega gratis mañana</p>
          </div>
        </div>
      </div>
    </div>
  }