.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.card_box {
  width: 350px;
  height: 450px;
  border-radius: 20px;
  background-color: rgb(243, 243, 243);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  cursor: pointer;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_box:hover {
  transform: scale(0.9);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.span-discount-d {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: radial-gradient(circle, #ff2a00, #c50000);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.img-container-d {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: auto;
}

.product-image-d {
  width: 75%;
  height: auto;
  object-fit: cover;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: auto;
}

.product-name-d {
  color: #333;
  font-size: 1.5rem;
  text-align: left;
}

.product-stars-d {
  color: #f39c12;
  font-size: 1rem;
}

.product-discounted-d {
  color: #27ae60;
  font-size: 1.2rem;
  font-weight: bold;
}

.product-price-discount-d {
  text-decoration: line-through;
  color: #999;
  font-size: 1rem;
}

.shipping-d, .shipping2-d {
  color: #00a2ff;
  font-size: 0.9rem;
}

.card_box span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box span::before {
  content: 'Rebajas';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: radial-gradient(circle, #720000 0%, #ff2a00 51%, #720a00 100%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.card_box span::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: radial-gradient(circle, #720a00 0%, #fc2a00 51%, #720a00 100%);
}

.inline-price-d {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}