@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html{
  background-color: var(--background-color);
}
:root {
  --background-color: white;
  --background-navbar: #013A63;
  --background-navbar2: #01497C;
  --secondary-color: #fa9c20;
}

[data-theme='dark'] {
  --background-navbar: black;
  --background-navbar2: #212529;
  --background-color: #191919;
  --secondary-color: #013A63;

}
